:root{
    --violet-color: #370050;
    --orange-accent: #EC6225;
    --gray: #524658;
    --light-pomelo:#FEF1E1;
    --light-gray:  #F8F8F8;
    --pink: #C81162;
   
    --large-font-size: 24px;
    --xlarge-font-size: 30px;

    --medium-font-size:18px;
    --medium-line-height:27px;

    --small-font-size:15px;
    --small-line-height:21px;

    --xsmall-font-size:12px;
    --xsmall-line-height:18px;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "arboria", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--small-font-size);
    line-height: var(--xsmall-line-height);
    color:  var(--gray);
}

section{
    padding: 30px 0px;
}

h2{
    font-size: 35px;
line-height: 41px;
letter-spacing: -0.0035em;
color: var(--violet-color);
font-weight: bold;

}

h3{
    font-size: 30px;
line-height: 36px;
color: var(--violet-color);
letter-spacing: -0.003em;
}

h4{
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.0009em;
color: var(--violet-color);
}

h5{
    color: var(--violet-color);
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
}




h6{
    font-size: var(--xsmall-font-size);
    line-height: var(--xsmall-line-height);
    font-weight: normal;
}

.medium-font-size{
font-size: var(--medium-font-size);
line-height: var(--medium-line-height);
}

hr.divider{
    border: 1px solid rgba(82, 70, 88, 0.16);
    margin: 0;
}

.wrapper{
    max-width: 1152px;
    margin: 0 auto;
}
.wrapper.small{
    max-width: 800px;
}

.desktop-display-only{
    display: block;
}

.mobile-display-only{
    display: none;
}

/* Header */
.menu-1st .content, .menu-2nd .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#burger-icon, .menu-3rd{
    display: none;
}



/*Menu items*/

ul.sub-menu{
    display: none;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;    
}

/* 1st menu */

.menu-1st .left li{
    padding: 0 20px;
} 

.menu-1st .right li{
    padding: 0 10px;
} 

.side-borders{
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    
}

.menu-1st li{
    font-size: var(--small-font-size);
    line-height: var(var(--small-line-height));
}

/* 2nd menu */
.menu-2nd{
    background: var(--light-gray);
    padding: 5px 0px;
}

.menu-2nd li{
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
}

.menu-2nd .right nav ul{
    gap: 32px;
}

/*buttons */
.btn{
    display: inline-block;
    font-weight: bold;
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
padding: 9px 32px 10px;
border-radius: 10px;
text-decoration: none;
}

.btn.dark{
    background-color: var(--orange-accent);
    color:#FFF;
}

.btn.light{
background: var(--light-pomelo);
color: var(--orange-accent);
}

/*Hero Section*/
section.hero-section{
    background: var(--violet-color);
}

.hero-section .content{
    text-align: center;
}

.hero-section h1{
    font-weight: 700;
font-size: 45px;
line-height: 52px;
letter-spacing: -0.0045em;
color:#fff;
}

.hero-section p{
    color:#FFF;
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
    margin-bottom: 22px;
}


.hero-section .btn, .hero-section form{
    margin-top: 32px;
}

.trustpilot-info.light{
    padding: 47px 0;
}

.trustpilot-info.dark{
    padding: 5px 0;
}

.trustpilot-info span{
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
    font-size: var(--small-font-size);
    line-height: var(--xsmall-line-height);
    
}

.trustpilot-info.light span{
    color: #fff;
}

.trustpilot-info.dark span{
    color: var(--gray);
}

.trustpilot-info img{
    width: 90px;
    height: 14px;
}

img.trustpilot{
margin-left: -20px;
}

.hero-section form{
    position: relative;
    width: 480px;
    margin: 0px auto  ;
}

.hero-section form input[type="text"]{
height: 48px;
width: 480px;
border-radius: 22px;
padding-left: 22px;
font-size: var(--medium-font-size);
line-height: var(--medium-line-height);
border-width: 0px;
}

.hero-section form button{
    position: absolute;
    top: 2px;
    right:2px;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    border: none;
    background: var(--orange-accent);
    color: #FFF;
}

.hero-section form button svg{
    fill: #FFF;
    font-size: 1.2rem;
    margin-left: 3px;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}



/*links*/
li a{
    text-decoration: none;
    color: var(--gray);
}

/* Pricing section */
section.pricing-section{
    background:  linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, #F8F8F8 100%), #FFFFFF;
    
}

section.pricing-section .wrapper .content{
    text-align: center;
}

.pricing-section div.pricing-card{
    padding: 32px 28px;
    box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.12);
border-radius: 20px;
flex-basis: 352px;
}

.pricing-section div.pricing-cards{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

div.pricing-card ul{
   list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    text-align: left;
}

div.pricing-card li{
    padding-bottom: 20px;
} 

div.pricing-card ul li img{
    transform: translate(0px, 6px);
    margin-right: 10px;
}


div.pricing-card li span{
    font-weight: bold;
}

div.pricing-card div.progress-indicator{
    height: 10px;
    background: linear-gradient(90deg, #C81162 0%, #CD205D 8.33%, #D22F58 15.62%, #D63D53 26.04%, #DB4C4D 35.94%, #DF5A48 46.35%, #E46843 57.29%, #E8763E 68.23%, #EC8439 76.56%, #F19134 87.5%, #F49E2F 98.96%);
border-radius: 4px;
transform: matrix(-1, 0, 0, 1, 0, 0);
margin-right: 70%;
}

div.pricing-card div.video-indicator-container{
    display: flex;
    justify-content: space-between;
    font-size: var(--xsmall-font-size);
    font-weight: var(--xsmall-line-height);
    margin-bottom: 5px;
}

div.pricing-card div.plan-pricing-prices{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

div.pricing-card div.plan-pricing-prices .old-price{
    letter-spacing: -0.0045em;
text-decoration-line: line-through;
color: var(--pink);
font-size: var(--medium-font-size);
line-height: 22px;
font-weight: bold;
align-self: flex-start;
}

div.pricing-card div.plan-pricing-prices .new-price{
    font-weight: 700;
font-size: 45px;
line-height: 52px;
letter-spacing: -0.0045em;
color: var(--violet-color)
}

div.pricing-card div.plan-pricing-prices .package-duration{
    font-size: var(--small-font-size);
    font-weight: var(--small-line-height);
    color: var(--gray);
    align-self: flex-end;
}

/*FAQ Section*/
section.faq-section div.content{
    text-align: center;
}

.faq-cards{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    gap:15px;
}

.faq-card{
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
border-radius: 20px;
padding: 32px;
}

.faq-card .left span{
    color: var(--violet-color);
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
    
}

.faq-card .right span{
font-size: var(--xlarge-font-size);
font-weight: normal;
}

/* Help Section */
.help-section div.content{
    text-align: center;
}

.help-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.help-card{
    text-align: center;
}

.call-cta{
    font-weight: bold;
}

.help-card a{
    color: var(--orange-accent);
    padding-bottom: 2px;
}

.toggle-monthly{
    display: none;
}